.container {
  display: flex;
  flex-direction: column;
  text-align: center;

  span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  p {
    font-weight: 400;
    color: var(--text-color);
  }

  img {
    width: 40px;
  }
}

.skillList {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 30px 0;
}

@media (width >= 800px) {
  .skillList {
    gap: 60px;
  }
}
